<div class="tool-container content">
    <div class="bread-crumbs">
        <ul>
            <li>
                <a routerLink="">Главная</a>
            </li>
            <li>
                <a [routerLink]="['/' + detail , tool ]">{{ tool }}</a>

            </li>
            <li>
                <a [routerLink]="['/' + detail , tool, vendor ]">{{ item.name }}</a>
                
            </li>
        </ul>
    </div>
    <div *ngIf="item" class="tool">
            <div class="tool-image">
                <img src="../../assets/images/construction-and-tools.svg" alt="">
            </div>
            <div>{{ item.name }}</div>
            <div class="price">₴ {{ item.price }}</div>
            <form action="">
                <div class="amount">
                
                <button class="desc" type="button" (click)="removeOne($event)">-</button>
                    <input type="text" (paste)="onPaste($event)" (keypress)="onInput($event)" maxlength="3" value="1">
                <button class="asc" type="button" (click)="addOne($event)">+</button>
            
                </div>
                <div class="submit" >
                    <button type="button" (click)="toCart(item.vendor_code, amount)">В кошик</button>
                </div>
            </form>
    </div>
</div>


