<div class="tool-container content">
    <div class="bread-crumbs">
        <ul *ngIf="categoryTools && item">
            <li>
                <a routerLink="">Главная</a>
            </li>
            <li><img src="../../assets/images/arrow-bread.svg" alt=""></li>
            <li >
                <a [routerLink]="['/' + categoryTools.InstrumentCatalog[0].name_link , categoryTools.InstrumentCatalogDetail[0].name_link]">{{ categoryTools.InstrumentCatalogDetail[0].name }}</a>
            </li>
            <li><img src="../../assets/images/arrow-bread.svg" alt=""></li>
            <li>
                <a class="current-bread" [routerLink]="['/' + categoryTools.InstrumentCatalog[0].name_link , categoryTools.InstrumentCatalogDetail[0].name_link, item.vendor_code ]">{{ item.name }}</a>
            </li>
        </ul>
    </div>
    <div *ngIf="item" class="tool">
            <div class="tool-image">
                <img src="../../assets/images/construction-and-tools.svg" alt="">
            </div>
            <div>{{ item.name }}</div>
            <div class="price">₴ {{ item.price }}</div>
            <form action="">
                <div class="amount">
                
                <button class="desc" type="button" (click)="removeOne($event)">-</button>
                    <input type="text" (paste)="onPaste($event)" (keypress)="onInput($event)" maxlength="3" value="1">
                <button class="asc" type="button" (click)="addOne($event)">+</button>
            
                </div>
                <div class="submit">
                    <button type="button" (click)="toCart(item.vendor_code, $event)">В кошик</button>
                </div>
            </form>
    </div>
</div>


