<div class="tool-container content">
    <div class="bread-crumbs">
        <ul>
            <li>
                <a routerLink="">Главная</a>
            </li>
            <li>
                <a routerLink="">anchor</a>
            </li>
        </ul>
    </div>
    <div *ngIf="item" class="tool">
            <div class="tool-image">
                <img src="../../assets/images/construction-and-tools.svg" alt="">
            </div>
            <div>{{ item.name }}</div>
            <div>$ {{ item.price }}</div>
    </div>
</div>


