.wrapper {
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

.all {
	flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.bread-crumbs {
    ul {
        display: flex;
        li {
            a{
                color: black;
            }
        }
    }
}