<div class="wrapper-404">
    <div class="not-found">
    <div><div class="sign404">4 <div><img src="../../assets/images/404saw.svg" alt=""></div> 4</div>
         <p class="error-sign">ERROR</p>
         <p class="apol-sign">Вибачте, сторінка не знайдена</p>
         <p class="main-link"><button routerLink="/">На головну</button></p>
    </div>
</div>
<div class="background">
    <div class="line-handler-block">
        <div class="line-handler">
            <div class="line" *ngFor="let i of background"></div>
        </div>
    </div>
</div>
</div>