<h3>Про нас</h3>
<div class="content">
    <section>
        <div class="about-info">
            <div class="about-article">
                <div><img src="../../assets/images/about-mark.svg" alt=""></div>
                <div>Компанія ТОВ «Інструмент-сервіс» працює
                     на ринку послуг з 1995 року в сфері
                      ремонту електро та бензо інструменту.</div>
            </div>
            <div class="about-article">
                <div><img src="../../assets/images/about-mark.svg" alt=""></div>
                <div>Ми є офіційним авторизованим сервісним центром 
                    торгових марок Makita,Metabo, Sparky, Sturm,
                     Енергомаш. </div>
            </div>
        </div>
        <div class="about-image"><img src="../../assets/images/about-1.jpg" alt=""></div>
        <div class="about-image"><img src="../../assets/images/about-2.jpg" alt=""></div>
        <div class="about-info">
            <div class="about-article">
                <div><img src="../../assets/images/about-mark.svg" alt=""></div>
                <div> Наші майстри і менеджери щороку
                     проходять навчання і тренінги в офіційному
                      представництві «Makita» в Україні.</div>
            </div>
            <div class="about-article">
                <div><img src="../../assets/images/about-mark.svg" alt=""></div>
                <div>Здійснюємо ремонт торгових марок Bosch, DeWalt, Hitachi, AEG,
                    Milwaukee, Festool, Husqvarna, Stihl, Oleo-Mac, Фіолент,
                     Інтерскол, Rebir та багатьох інших брендів по інструменту.</div>
            </div>
        </div>
        
    </section>
    <section>
            <div class="about-adv">
                <div><img src="../../assets/images/garantia.svg" alt=""></div>
                <div><span>Здійснюємо послуги по гарантійному та післягарантійному обслуговуванню.</span></div>
            </div>
            <div class="about-adv">
                <div><img src="../../assets/images/kubok.svg" alt=""></div>
                <div><span>Протягом останніх 8-ми років, ми є найкращим сервісним
                     центром «Makita» в Україні.</span></div>
            </div>
            <div class="about-adv">
                <div><img src="../../assets/images/gaika.svg" alt=""></div>
                <div><span>Надаємо послуги з прокату електроінструменту: відбійні молотки, перфоратори, 
                та багато іншого.</span></div>
            </div>
    </section>
</div>
