
    <div class="top-header">
        <div class="content">
            <div class="top-header-content">
                <div>
                    ngSubmit
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="content">
            <div class="bottom-header-content">
        <div>
            logo
        </div>
        <nav>
            <a routerLink="/home" routerLinkActive="active" mat-button> Home</a>
            <a routerLink="/contacts" routerLinkActive="active" mat-button> Contact</a>
        </nav>
        <span class="flex-spacer"></span>
        <form class="search-form" novalidate [formGroup]="searchForm" (ngSubmit)="onSubmit()">  
            <input formControlName="searchvalue" autocomplete="off" type="text" placeholder="Пошук">
            <button class="search-button" type="submit">
                <mat-icon>search</mat-icon>
            </button> 
        </form>
        </div>
        </div>
    </div>

