
    <div class="top-header">
        <div class="content">
            <div class="top-header-content">
                <div>
                   <a routerLink="cart">Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="content">
            <div class="bottom-header-content">
        <div>
            logo
        </div>
        <div class="catalog">
            <button (click)="toggle()">Каталог</button>
            <div *ngIf="show" class="header-catalog">
                <ul>
                    <li *ngFor="let item of catalogItems">
                       {{ item.name }}
                       <ul class="toolsItems">
                        <ng-container *ngFor="let detail of details">
                            <ng-container *ngFor="let id of detail.instruments_id">
                            <li *ngIf="id==item.id">
                                <a [routerLink]="[item.name , detail.name ]" (click)="hideCatalog()">{{ detail.name }}</a>
                            </li>
                            </ng-container>
                          </ng-container>
                       </ul>
                    </li>
                </ul>
            </div>
        </div>
        <nav>
            <a routerLink="/" routerLinkActive="active" mat-button (click)="hideCatalog()"> Home</a>
            <a routerLink="/contacts" routerLinkActive="active" mat-button (click)="hideCatalog()"> Contact</a>
        </nav>
        <span class="flex-spacer"></span>
        <form class="search-form" novalidate [formGroup]="searchForm" (ngSubmit)="onSubmit()">  
            <input formControlName="searchvalue" autocomplete="off" type="text" placeholder="Пошук">
            <button class="search-button" type="submit">
                <mat-icon>search</mat-icon>
            </button> 
        </form>
        </div>
        </div>
    </div>

