<mat-toolbar fxLayout="column">
    <mat-toolbar-row fxFlex="34">
        <span class="flex-spacer"></span>
        <span>telnum</span>
    </mat-toolbar-row>
    <mat-toolbar-row fxFlex="66" class="bottom-header">   
        <a routerLink="/home" routerLinkActive="active" mat-button> Home</a>
        <a routerLink="/contacts" routerLinkActive="active" mat-button> Contact</a>
        <span class="flex-spacer"></span>
        <form class="search-form" novalidate [formGroup]="searchForm" (ngSubmit)="onSubmit()">  
            <input formControlName="searchvalue" autocomplete="off" type="text" placeholder="Пошук">
            <button class="search-button" type="submit">
                <mat-icon>search</mat-icon>
            </button> 
        </form>
    </mat-toolbar-row>
</mat-toolbar>
