    .top-header {
        background-color: #ccc;
        height: 34px;
        .content {
            height: 100%;
        }
        .top-header-content {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
        }
    }
    .bottom-header {
        background-color: #666;
        height: 66px;
        .content {
            height: 100%;
        }
        .bottom-header-content {
            display: flex;
            justify-content: space-between;
            height: 100%;
            align-items: center;
        }
    }    




form {
    display: flex;
    background-color: #fff;
    input {
        padding-left: 10px;
        border: none;
        outline: none;
    }
    button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        outline: none;
    }
}


.catalog {
    position: relative;
    .header-catalog {
        position: absolute;
        z-index: 9999;
        ul {
            list-style: none;
            background-color: white;
            width: 100px;
        }
    }
}







