<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.media_path }}" alt="" width="100%" height="557px">
    </div>
</ngx-slick-carousel>
<div class="main-info">
  <div class="content">
    <div class="main-info-content">
      <div class="item">
        <div><img src="../../assets/images/truck.svg" alt=""></div>
        <div class="adv"><span>Доставка</span></div>
        <div><span>Здійснюємо доставку по всій Україні</span></div>
      </div>
      <div class="item">
        <div><img src="../../assets/images/shield.svg" alt=""></div>
        <div class="adv"><span>Гарантія</span></div>
        <div><span>Пропонуємо послуги з гарантійного обслуговування</span></div>
      </div>
      <div class="item">
        <div><img src="../../assets/images/return.svg" alt=""></div>
        <div class="adv"><span>Повернення грошей</span></div>
        <div><span>100% гарантія повернення грошей</span></div>
      </div>
    </div>
  </div>
</div>
<app-catalog></app-catalog>
<router-outlet></router-outlet>