@import '../../variables.scss';

.slick-slider {
    width: 100%;
    height: auto;
    margin: auto;
}
  
  .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }
  
  .prev-slide.slick-disabled,
  .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  
  .prev-slide {
    background: url('../../assets/images/slider-img-1.jpeg') no-repeat scroll 0 0;
    left: -33px;
    width: 20px;
    height: 20px;
    right: -30px;
    background-color: red;
  }
  
  .next-slide {
    width: 20px;
    height: 20px;
    right: -30px;
    background-color: red;
  }
  
  .prev-slide:hover {
    background-position: 0px -53px;
  }
  
  .next-slide:hover {
    background-position: -24px -53px;
  }

  .main-info {
    .main-info-content {
      margin: 21px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .item {
        width: 238px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 11px 0 17px 0;
        border: 4px solid $primary-yellow;
        div {
          text-align: center;
          padding: 0 10px;
          height: 55px;
          font-family: TT Norms;
          font-style: normal;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.571429px;
        }
        div.adv {
          font-weight: 600;
          height: auto;
          padding: 0;
          width: 110%;
          margin-top: 11px;
          background-color: $primary-yellow;
          margin-bottom: 6px;
        }
      }
    }
  }


  
  

