<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.media_path }}" alt="" width="100%" height="557px">
    </div>
</ngx-slick-carousel>
<div class="main-info">
  <div class="content">
    <div class="main-info-content">
      <div class="item">
        <img src="" alt="">
        <div><span>Lorem ipsum dolor sit.</span></div>
        <div><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo laborum id nemo recusandae.</span></div>
      </div>
      <div class="item">
        <img src="" alt="">
        <div><span>Lorem ipsum dolor sit.</span></div>
        <div><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo laborum id nemo recusandae.</span></div>
      </div>
      <div class="item">
        <img src="" alt="">
        <div><span>Lorem ipsum dolor sit.</span></div>
        <div><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo laborum id nemo recusandae.</span></div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <h2>Категории</h2>
</div>
<div class="catalog content">
  <ngx-slick-carousel #slickModal="slick-carousel" [config]="catalogConfig">
    <div ngxSlickItem *ngFor="let tool of catalogItems" (click)="onSelect(tool)" class="slide item">
      <div class="item-img"></div>
      <div><span>{{ tool.name }}</span></div>
    </div>
  </ngx-slick-carousel>
</div>
<div class="catalog-items content">
  <ng-container *ngFor="let detail of details">
  <div *ngIf="detail.id==selectedItem" class="item">
    <div class="item-image">
      <img src="../../assets/images/construction-and-tools.svg" alt="">
    </div>
    <div class="price">{{ detail.id }}</div>
    <div class="description">{{ detail.name }}</div>
    <button  [routerLink]="['/details', selectedItemName + '-' + detail.name]" class="more">Больше -></button>
  </div>
  </ng-container>
</div>