.slick-slider {
    width: 100%;
    height: auto;
    margin: auto;
}
  
  .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
  }
  
  .prev-slide.slick-disabled,
  .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
  }
  
  .prev-slide {
    background: url('../../assets/images/slider-img-1.jpeg') no-repeat scroll 0 0;
    left: -33px;
    width: 20px;
    height: 20px;
    right: -30px;
    background-color: red;
  }
  
  .next-slide {
    width: 20px;
    height: 20px;
    right: -30px;
    background-color: red;
  }
  
  .prev-slide:hover {
    background-position: 0px -53px;
  }
  
  .next-slide:hover {
    background-position: -24px -53px;
  }

  .main-info {
    background-color: #999;
    .main-info-content {
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div {
          text-align: center;
        }
      }
    }
  }


  
  

