<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.media_path }}" alt="" width="100%" height="557px">
    </div>
</ngx-slick-carousel>
<div class="main-info">
  <div class="content">
    <div class="main-info-content">
      <div class="item">
        <img src="" alt="">
        <div><span>Lorem ipsum dolor sit.</span></div>
        <div><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo laborum id nemo recusandae.</span></div>
      </div>
      <div class="item">
        <img src="" alt="">
        <div><span>Lorem ipsum dolor sit.</span></div>
        <div><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo laborum id nemo recusandae.</span></div>
      </div>
      <div class="item">
        <img src="" alt="">
        <div><span>Lorem ipsum dolor sit.</span></div>
        <div><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo laborum id nemo recusandae.</span></div>
      </div>
    </div>
  </div>
</div>
<input>
<app-catalog></app-catalog>
<router-outlet></router-outlet>