/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  box-sizing: border-box;
}

$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark:   #512DA8;
$primary-color:        green;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.flex-spacer {
    flex: 1 1 auto;
  }


.content {
    max-width: 1129px;
    margin: 0 auto;
    padding: 0 19px;
    font-size: 13px;
}

.slick-prev, .slick-next {
  background: black;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  outline: none;
  background: black;
  color: white;
}

.slick-dots li  {
  margin-bottom: 2px;
  margin-top: 2px;
}

.slick-dots li button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  /* display: block; */
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  /* padding: 5px; */
  padding: 0;
  cursor: pointer;
}


.slick-dots li.slick-active button:before {
  width: 17px;
  height: 17px;
  opacity: 0.75;
}

.slick-dots {
  position: absolute;
  bottom: 50%;
  right: 9px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 20px;
}



.slick-dots li button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  width: 15px;
  height: 15px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  background-color: black;
  border-radius: 50%;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}