/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './ngx.scss';


html, body { height: 100%; }
body {
   margin: 0;
   font-family: TT Norms;
   font-style: normal;
   overflow-y: scroll;
}

*{
  box-sizing: border-box;
}


.flex-spacer {
    flex: 1 1 auto;
  }


.content {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 19px;
    font-size: 13px;
}



.wrapper {
  display: flex;
flex-direction: column;
min-height: 100%;
}

.all {
flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

h2 {
  font-family: TT Norms;
  font-style: normal;
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 1.07143px;
}

.bread-crumbs {
  ul {
      display: flex;
      justify-content: flex-start;
      list-style: none;
      padding: 0;
      margin-top: 20px;
      li {
        margin-right: 10px;
        display: flex;
        align-items: center;
        img {
          width: 10px;
        }
          a{
              color: black;
              font-size: 16px;
              line-height: 19px;
              text-align: center;
              letter-spacing: 0.571429px;
              text-decoration: none;
          }
          .current-bread {
            font-weight: 500;
          }
      }
  }
}