.checkout {
    display: flex;
    .form-container,
    .cart-container {
        display: flex;
        width: 50%;

    }
    .form-container {

        justify-content: center;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        input {
            height: 30px;
            width: 200px;
            margin-bottom: 15px;
        }
    }
    .cart-container {
        flex-direction: column;
        justify-content: center;
        .cart-item {
            display: flex;
            justify-content: space-between;
            div {
                width: 33%;
            }
        }
    }
}