<div class="content">
    <h2>Категории</h2>
  </div>
  <div class="catalog content">
    <ngx-slick-carousel #slickModal="slick-carousel" [config]="catalogConfig">
      <div ngxSlickItem  *ngFor="let tool of catalogItems" (click)="onSelect(tool)" class="slide item">
            <div class="item-img"></div>
            <div><span>{{ tool.name }}</span></div>
      </div>
    </ngx-slick-carousel>
  </div>
  <div>{{ selectedItem }}</div>
  <div class="catalog-items content" id='catalog'>
    <ng-container *ngFor="let detail of details">
    <ng-container *ngFor="let id of detail.instruments_id">
    <span>{{ id }}</span>
    <div *ngIf="id==selectedItem" class="item">
      <div class="item-image">
        <img src="../../assets/images/construction-and-tools.svg" alt="">
      </div>
      <div class="price">{{ detail.id }}</div>
      <div class="description">{{ detail.name }}</div>
      <button  [routerLink]="[ selectedItemName , detail.name]" class="more">Больше -></button>
    </div>
    </ng-container>
  </ng-container>
  </div>
