@import '../../variables.scss';

.slick-slider {
    width: 100%;
    height: auto;
    margin: auto;
}


  
  
  .prev-slide.slick-disabled,
  .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
  }


.catalog {
    display: flex;
    justify-content: space-between;
    position: relative;
    .roll-left {
      position: absolute;
      left: -40px;
      height: 100%;
    }
    .roll-right {
      position: absolute;
      right: -40px;
      height: 100%;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:flex-start;
      height: 144px;
      margin-left: 4px;
      margin-right: 4px;
      border: 1px solid $primary-black;
      background-color: transparent;
      padding-top: 35px;
      span,
      div,
      img {
        pointer-events: none;
      }
      div {
        display: flex;
        justify-content: center;
        span {
          text-align: center;
        }
      }
      .item-img {
        height: 56px;
        width: 56px;
        background-image: url('../../assets/images/construction-and-tools.svg');
      }
    }
    .item:focus {
      outline: none;
    }
    .active {
      position: relative;
      background-color: $primary-yellow;
    }
    .active:before {
      content: '';
      position: absolute;
      width: 17px;
      height: 17px;
      border: 1px solid $primary-black;
      top: calc(100% - 8px);
      border-top: none;
      border-left: none;
      background-color: $primary-yellow;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}
  }

  .catalog-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .item {
      display: flex;
      flex-direction: column;
      width: 20%;
      padding: 20px;
      flex-shrink: 0;

      .item-image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .more {
      width: 70%;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
  }