@import '../../variables.scss';

.slick-slider {
    width: 100%;
    height: auto;
    margin: auto;
}


  
  
  .prev-slide.slick-disabled,
  .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
  }


.catalog {
    display: flex;
    justify-content: space-between;
    position: relative;
    .roll-left {
      position: absolute;
      left: -40px;
      height: 100%;
    }
    .roll-right {
      position: absolute;
      right: -40px;
      height: 100%;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:flex-start;
      height: 144px;
      margin-left: 4px;
      margin-right: 4px;
      border: 1px solid $primary-black;
      background-color: transparent;
      padding-top: 35px;
      span,
      div,
      img {
        pointer-events: none;
      }
      div {
        display: flex;
        justify-content: center;
        span {
          text-align: center;
        }
      }
      .item-img {
        height: 56px;
        width: 56px;
        background-image: url('../../assets/images/construction-and-tools.svg');
      }
    }

    .item:focus {
      outline: none;
    }
    .active {
      position: relative;
      background-color: $primary-yellow;
    }
    .active:before {
      content: '';
      position: absolute;
      width: 17px;
      height: 17px;
      border: 1px solid $primary-black;
      top: calc(100% - 8px);
      border-top: none;
      border-left: none;
      background-color: $primary-yellow;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}
  }

  .catalog-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 15px 0 36px 0;
    .item-container {
      padding: 0 20px;
      width: 20%;

      .item {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font-family: TT Norms;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.571429px;
        margin-bottom: 5px;
        .item-image {
          width: 100%;
          padding: 0 10px;
          img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
          }
        }
      }
    }

    
    .item:hover>.more,
    .more:focus {
      opacity: 1;
      pointer-events: auto;
    }
    .item:hover {
      box-shadow: 9px 9px 12px -2px #ccc;
    }
    .more {
      display: flex;
      justify-content: space-between;
      align-items: center;
      pointer-events: none;
      opacity: 0;
      background-color: $primary-yellow;
      border-radius: 20px;
      margin-left: 17px;
      height: 32px;
      width: 120px;
      border: none;
      text-align: left;
      padding: 0 20px;
      margin: 17px 0 17px 17px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      font-family: TT Norms;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.571429px;
    }
  }