<div class="content">
    <h2>Категории</h2>
  </div>
  <div class="catalog content">
    <ngx-slick-carousel #slickModal="slick-carousel" [config]="catalogConfig">
      <ng-container *ngFor="let tool of catalogItems">
        <div ngxSlickItem *ngIf="tool.id == catalogItems[0].id" (click)="onSelect(tool, $event)" class="slide item active">
          <div class="item-img"></div>
          <div><span>{{ tool.name }}</span></div>
        </div>
        <div ngxSlickItem *ngIf="tool.id != catalogItems[0].id" (click)="onSelect(tool, $event)" class="slide item">
          <div class="item-img"></div>
          <div><span>{{ tool.name }}</span></div>
        </div>
      </ng-container>
      
    </ngx-slick-carousel>
  </div>
  <div class="content" id='catalog'>
    <div class="catalog-items">
    <ng-container *ngFor="let detail of details">
    <ng-container *ngFor="let id of detail.instruments_id">
    <div *ngIf="id==selectedItem" class="item-container">
      <div class="item">
      <div class="item-image">
        <img src="{{ detail.media_path }}" alt="">
      </div>
      <div class="name">{{ detail.name }}</div>
      <button  [routerLink]="[ selectedItemName , detail.name]" class="more">
        <div>Більше</div>
        <img src="../../assets/images/arrow-right.svg" alt=""></button>
      </div>
    </div>
    </ng-container>
  </ng-container>
  </div>
  </div>
