.cart {
    width: 80%;
    margin: 40px auto;
    .cart-table-header {
        display: flex;
        border-bottom: 1px solid black;
        .cart-names,
        .cart-items-info {
            width: 50%;
        }
        .cart-names {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cart-items-info {
            display: flex;
            flex-flow: row;
            div {
                width: calc(100% / 3);
                text-align: center;
            }
        }
    }
    .cart-table {
        display: flex;
        border-bottom: 1px solid black;
        padding: 15px 0;
        .cart-names,
        .cart-items-info {
            width: 50%;
        }
        .cart-names {
            display: flex;
            justify-content: flex-start;
        }
        .cart-items-info {
            display: flex;
            flex-flow: row;
            >div {
                width: calc(100% / 3);
                display: flex;
                justify-content: center;
            }
        }
        .amount {
            display: flex;
            height: 32px;
            
            padding: 0 2px;
            button {
                border: 0;
                background-color: transparent;
            }
            .desc {
                border: 1px solid #979797;
                width: 32px;
                border-radius: 50% 0 0 50%;
                border-right: 0;
                -webkit-border-radius: 50% 0 0 50%;
                -moz-border-radius: 50% 0 0 50%;
                -ms-border-radius: 50% 0 0 50%;
                -o-border-radius: 50% 0 0 50%;
            }
            .asc {
                border: 1px solid #979797;
                width: 32px;
                border-radius: 0 50% 50% 0;
                border-left: 0;
                -webkit-border-radius: 0 50% 50% 0;
                -moz-border-radius: 0 50% 50% 0;
                -ms-border-radius: 0 50% 50% 0;
                -o-border-radius: 0 50% 50% 0;
            }
            input {
                width: 30px;
                border: 1px solid #666;
                border-left: 0;
                border-right: 0;
                text-align: center;
            }
        }
    }
}

.total {
    display: flex;
    
}