.cart-table-header {
    display: flex;
    border-bottom: 1px solid black;
    div {
        width: 20%;
    }
    .amount {
        display: flex;
        width: 94px;
        padding: 0 2px;
        button {
            border: 1px solid #979797;
            background-color: transparent;
        }
        .desc {
           border-radius: 50% 0 0 50%;
           -webkit-border-radius: 50% 0 0 50%;
           -moz-border-radius: 50% 0 0 50%;
           -ms-border-radius: 50% 0 0 50%;
           -o-border-radius: 50% 0 0 50%;
           border-right: 0;
           width: 73px;
        }
        .asc {
            border-radius: 0 50% 50% 0;
            -webkit-border-radius: 0 50% 50% 0;
            -moz-border-radius: 0 50% 50% 0;
            -ms-border-radius: 0 50% 50% 0;
            -o-border-radius: 0 50% 50% 0;
            border-left: 0;
            width: 75px;
        }
        input {
            width: 100%;
            border: 1px solid #666;
            border-left: 0;
            border-right: 0;
            text-align: center;
        }
    }
}

.total {
    display: flex;
    
}