<div class="details-container content">
    <div class="bread-crumbs">
        <ul>
            <li>
                <a routerLink="">Главная</a>
            </li>
            <li>
                <a [routerLink]="['/' + detail , tool ]">{{ tool }}</a>
            </li>
        </ul>
    </div>
    <div class="details-content">
        <div class="filter">
            <h2>Фільтр</h2>
            <div class="form form-inline">
                <div *ngFor="let filterItem of filterItems; let i = index;" class="form-check" style="padding-right:20px;">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="filterItem.checked" [value]="filterItem.value"> Value {{ i + 1 }}
                  </label>
                </div>
              </div>
              <pre>Selected items: <span *ngFor="let filterItem of checked()" style="padding-right:10px;">{{ filterItem.value }}</span></pre>
        </div>
        <div *ngIf="categoryTools" class="details">
            <div *ngFor="let item of categoryTools | slice:1 | filter: { name: ''} : checked() : false | paginate: { itemsPerPage: 9, currentPage: p}" class="item-container">
                <div class="item">
                <a routerLink="{{ item.vendor_code }}">
                <img src="../../assets/images/construction-and-tools.svg" alt="">
                <div class="price"><span>₴ {{ item.price }}</span></div>
                <div class="name"><span>{{ item.name }}</span></div></a>
                <div class="as">
                    <div class="amount">
                    
                    <button class="desc" type="button" (click)="removeOne($event)">-</button>
                        <input type="text" (paste)="onPaste($event)" (keypress)="onInput($event)" maxlength="3" value="1">
                    <button class="asc" type="button" (click)="addOne($event)">+</button>
                
                    </div>
                    <div class="submit" >
                        <button type="submit">В кошик</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="pagination">
            <pagination-controls
             (pageChange)="p = $event"
             previousLabel=""
             nextLabel=""></pagination-controls>
            </div>
        </div>
        <div *ngIf="!categoryTools" class="details none">
            В даній категорії поки що немає товарів.
        </div>
    </div>
</div>
