<div class="details-container content">
    <div class="bread-crumbs">
        <ul>
            <li>
                <a routerLink="">Главная</a>
            </li>
            <li *ngIf="categoryTools">
                <a [routerLink]="['/' + categoryTools.InstrumentCatalog[0].name , categoryTools.InstrumentCatalogDetail[0].name ]">{{ categoryTools.InstrumentCatalogDetail[0].name }}</a>
            </li>
        </ul>
    </div>
    <div *ngIf="categoryTools" class="details-content">
        <div class="filter">
            <h2>Фільтр</h2>
            <div class="form form-inline">
                <div *ngFor="let filterItem of filterItems" class="form-check" style="padding-right:20px;">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="filterItem.checked" [value]="filterItem.id"> {{filterItem.name}}
                  </label>
                </div>
              </div>
              <pre>Selected items: <span *ngFor="let filterItem of checked()" style="padding-right:10px;">{{ filterItem.id }}</span></pre>
              <p>Min value: <input type="number" [(ngModel)]="minValue"></p>
              <p>Max value: <input type="number" [(ngModel)]="maxValue"></p>
             <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
        </div>
        <div *ngIf="categoryTools" class="details">
            <div *ngFor="let item of categoryTools.Tools | filter: { company: ''} : checked() : false | price: minValue : maxValue | paginate: { itemsPerPage: 9, currentPage: p}" class="item-container">
                <div *ngIf="!item">
                    <span>В даній категорії немає товарів</span>
                </div>
                <div *ngIf="item" class="item">
                <a routerLink="{{ item.vendor_code }}">
                <img src="../../assets/images/construction-and-tools.svg" alt="">
                <div class="price"><span>₴ {{ item.price }}</span></div>
                <div class="name"><span>{{ item.name }}</span></div></a>
                <div class="as">
                    <form action="">
                    <div class="amount">
                    
                    <button class="desc" type="button" (click)="removeOne($event)">-</button>
                        <input readonly type="text" (paste)="onPaste($event)" (keypress)="onInput($event)" maxlength="3" value="1">
                    <button class="asc" type="button" (click)="addOne($event)">+</button>
                
                    </div>
                    <div class="submit">
                        <button type="submit" (click)="toCart($event, item.vendor_code)">В кошик</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="pagination">
            <pagination-controls
             (pageChange)="p = $event"
             previousLabel=""
             nextLabel=""></pagination-controls>
            </div>
        </div>
        <div *ngIf="!categoryTools" class="details none">
            В даній категорії поки що немає товарів.
        </div>
    </div>
</div>
