@import '../../variables.scss';



.details-container {
    .details-content {
        display: flex;
        justify-content: space-between;
        .filter {
            width: 20%;
            
            border: 1px solid black;
        }
        .details {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            width: 70%;
            border: 1px solid gray;
            .item:hover {
                box-shadow: 9px 9px 12px -2px #ccc;;
            }
            .item {
                width: 33%;
                padding: 10px;
                form {
                    display: flex;
                    .amount {
                        display: flex;
                        width: 50%;
                        padding: 0 2px;
                        button {
                            border: 1px solid #666;
                            background-color: transparent;
                        }
                        .desc {
                           border-radius: 50% 0 0 50%;
                           -webkit-border-radius: 50% 0 0 50%;
                           -moz-border-radius: 50% 0 0 50%;
                           -ms-border-radius: 50% 0 0 50%;
                           -o-border-radius: 50% 0 0 50%;
                           border-right: 0;
                        }
                        .asc {
                            border-radius: 0 50% 50% 0;
                            -webkit-border-radius: 0 50% 50% 0;
                            -moz-border-radius: 0 50% 50% 0;
                            -ms-border-radius: 0 50% 50% 0;
                            -o-border-radius: 0 50% 50% 0;
                            border-left: 0;
                        }
                        input {
                            width: 100%;
                            border: 1px solid #666;
                            border-left: 0;
                            border-right: 0;
                            text-align: center;
                        }
                    }
                    .submit {
                        padding: 0 2px;
                        width: 50%;
                        button {
                            width: 100%;
                            border: 1px solid $primary-yellow;
                            background-color: $primary-yellow;
                            border-radius: 12px;
                            -webkit-border-radius: 12px;
                            -moz-border-radius: 12px;
                            -ms-border-radius: 12px;
                            -o-border-radius: 12px;
                        }
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .pagination {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}