@import '../../variables.scss';



.details-container {
    padding-bottom: 45px;
    .details-content {
        display: flex;
        justify-content: space-between;
        .filter {
            width: 26%;
            border: 1px solid black;
        }
        .details {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            width: 63%;
            .v-spacer {
                margin-top: 45px;
                width: 100%;
            }
            .item:hover {
                box-shadow: 9px 9px 12px -2px #ccc;
            }
            .item-container {
                width: calc(100% / 3);
                padding: 0 16px;
                display: flex;

                .item {
                    width: 100%;
                    button {
                        font-family: TT Norms;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: 0.571429px;
                    }
                    a {
                        text-decoration: none;
                    }
                    div {
                        font-family: TT Norms;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.571429px;
                        color: #000;
                        
                    }
                    .name {
                        height: 38px;
                        overflow: hidden;
                    }
                    .price {
                        font-weight: 600;
                        margin-top: 6px;
                    }
                    .as {
                        opacity: 0;
                        padding: 18px 0;
                        form {
                            width: 100%;
                            display: flex;
                        }
                        .amount {
                            display: flex;
                            padding: 0 2px;
                            button {
                                border: 1px solid #979797;
                                background-color: transparent;
                            }
                            .desc {
                               width: 30px;
                               border-right: 0;
                               padding: 0;
                               border-radius: 50% 0 0 50%;
                               -webkit-border-radius: 50% 0 0 50%;
                               -moz-border-radius: 50% 0 0 50%;
                               -ms-border-radius: 50% 0 0 50%;
                               -o-border-radius: 50% 0 0 50%;
                            }
                            .asc {
                                width: 30px;
                                border-left: 0;
                                padding: 0;
                                border-radius: 0 50% 50% 0;
                                -webkit-border-radius: 0 50% 50% 0;
                                -moz-border-radius: 0 50% 50% 0;
                                -ms-border-radius: 0 50% 50% 0;
                                -o-border-radius: 0 50% 50% 0;
                            }
                            input {
                                width: 30px;
                                border: 1px solid #666;
                                border-left: 0;
                                border-right: 0;
                                text-align: center;
                            }
                        }
                        .submit {
                            padding: 0 2px;
                            button {
                                width: 120px;
                                height: 32px;
                                border: 1px solid $primary-yellow;
                                background-color: $primary-yellow;
                                border-radius: 24px;
                                -webkit-border-radius: 24px;
                                -moz-border-radius: 24px;
                                -ms-border-radius: 24px;
                                -o-border-radius: 24px;
                            }       
                        }
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .item:hover {
                    .as {
                        opacity: 1;
                    }
                }
            }
            .pagination {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        .details.none {
            display: flex;
            justify-content: center;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.571429px;
            color: #000000;
        }
    }
}