.details-container {
    .details-content {
        display: flex;
        justify-content: center;
        .filter {
            width: 20%;
            height: 400px;
            border: 1px solid black;
        }
        .details {
            width: 80%;
            border: 1px solid gray;
            .item {
                width: 20%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}