@import '../../variables.scss';



.details-container {
    padding-bottom: 45px;
    .details-content {
        display: flex;
        justify-content: space-between;
        .filter {
            width: 26%;
            .form-inline {
                margin-top: 22px;
            }
            .minMaxValue {
                display: flex;
                margin-top: 16px;
                input {
                    width: 88px;
                    height: 36px;
                    margin-right: 21px;
                    text-align: center;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    font-family: TT Norms;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.571429px;
                    border: 1px solid #D8D8D8;
                }
                input::-webkit-inner-spin-button, 
                input::-webkit-outer-spin-button { 
                  -webkit-appearance: none; 
                  margin: 0; 
                }
            }
            label {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                display: flex;
                align-items: center;
                letter-spacing: 0.642857px;

                color: #6C6C6C;
            }
            .form-check {
                height: 29px;
                margin-bottom: 16px;
            }
            .form-check-input:checked,
            .form-check-input:not(:checked)
            {
                position: absolute;
                left: -9999px;
            }

            .form-check-input:checked + label,
            .form-check-input:not(:checked) + label {
                display: inline-block;
                position: relative;
                padding-left: 39px;
                line-height: 16px;
                cursor: pointer;
            }

            .form-check-input:checked + label:before {
                border: none;
            }

         
            .form-check-input:not(:checked) + label:before {
                content: "";
                position: absolute;
                left: 0px;
                top: -50%;
                width: 29px;
                height: 29px;
                background-color: #ffffff;
                border: 1px solid #979797;
            }

            .form-check-input:checked + label:after,
            .form-check-input:not(:checked) + label:after {
                content: "";
                position: absolute;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }

            .form-check-input:checked + label:after,
            .form-check-input:not(:checked) + label:after {
                content: "";
                background: url(../../assets/images/check.svg);
                background-size: 25px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $primary-yellow;
                top: calc(-50% + 1px);
                left: 1px;
                width: 31px;
                height: 31px;
                border: none;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
}

            .form-check-input:not(:checked) + label:after {
                opacity: 0;
            }

            .form-check-input:checked + label:after {
                opacity: 1;
            }
        }
        .details {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            width: 63%;
            .v-spacer {
                margin-top: 45px;
                width: 100%;
            }
            .item:hover {
                box-shadow: 9px 9px 12px -2px #ccc;
            }
            .item-container {
                width: calc(100% / 3);
                padding: 0 16px;
                display: flex;

                .item {
                    width: 100%;
                    button {
                        font-family: TT Norms;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        letter-spacing: 0.571429px;
                    }
                    a {
                        text-decoration: none;
                    }
                    div {
                        font-family: TT Norms;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.571429px;
                        color: #000;
                        
                    }
                    .name {
                        height: 38px;
                        overflow: hidden;
                    }
                    .price {
                        font-weight: 600;
                        margin-top: 6px;
                    }
                    .as {
                        opacity: 0;
                        padding: 18px 0;
                        form {
                            width: 100%;
                            display: flex;
                        }
                        .amount {
                            display: flex;
                            padding: 0 2px;
                            button {
                                border: 1px solid #979797;
                                background-color: transparent;
                            }
                            .desc {
                               width: 30px;
                               border-right: 0;
                               padding: 0;
                               border-radius: 50% 0 0 50%;
                               -webkit-border-radius: 50% 0 0 50%;
                               -moz-border-radius: 50% 0 0 50%;
                               -ms-border-radius: 50% 0 0 50%;
                               -o-border-radius: 50% 0 0 50%;
                            }
                            .asc {
                                width: 30px;
                                border-left: 0;
                                padding: 0;
                                border-radius: 0 50% 50% 0;
                                -webkit-border-radius: 0 50% 50% 0;
                                -moz-border-radius: 0 50% 50% 0;
                                -ms-border-radius: 0 50% 50% 0;
                                -o-border-radius: 0 50% 50% 0;
                            }
                            input {
                                width: 30px;
                                border: 1px solid #979797;
                                border-left: 0;
                                border-right: 0;
                                text-align: center;
                            }
                        }
                        .submit {
                            padding: 0 2px;
                            button {
                                width: 120px;
                                height: 32px;
                                border: 1px solid $primary-yellow;
                                background-color: $primary-yellow;
                                border-radius: 24px;
                                -webkit-border-radius: 24px;
                                -moz-border-radius: 24px;
                                -ms-border-radius: 24px;
                                -o-border-radius: 24px;
                            }       
                        }
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .item:hover {
                    .as {
                        opacity: 1;
                    }
                }
            }
            .pagination {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        .details.none {
            display: flex;
            justify-content: center;
            font-family: TT Norms;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.571429px;
            color: #000000;
        }
    }
}